body {
  background:#dddddd;
}

h2, h3, h4, h5, h6 {
  margin-left:0px;
}

h1 {
  margin:0;
  padding:10px 10px 10px 0;
}

h2 {
  line-height:1em;
  margin-top:5px;
  margin-bottom:5px;
}

#header {
  padding-left:10px;
  background:#ffffff;
}

#addContainer {
  background:#cccccc;
  padding:10px;
}

#results {
  display: flex;
  flex-flow: row wrap; 
  background: #dddddd;
  padding:0 10px 0 0;
}

#wordsnNumbers, #stopwords, #ngraminator, #keywords {
  padding: 0 0 0 10px;
  flex: 1 1 auto;
}
#wordsnNumbers > div, #stopwords > div, #ngraminator > div, #keywords > div {
  margin:0 0 10px 0;
}

input, textarea, select {
  font-size:1.2rem;
  margin-left:0;
}

input, textarea {
  width:100%;
}

pre {
  margin:0;
}
